<% include partials/header %>

<div class="container">
    <div class="card text-center mx-auto card-details" style="width: 50%">
        <div class="card-header head-details">
            <h3>Add Card</h3>
        </div>

        <div class="card-body body-details">
            <form action="/cards" method="POST">
                <div class="form-group">
                    <select id="card" name="card" class="form-control">
                        <option selected>Choose Cards...</option>
                        <option value="Discover">Discover</option>
                        <option value="American Express">American Express</option>
                        <option value="Golden1">Golden1</option>
                        <option value="BOA Cash Rewards">Bank o A Cash Rewards</option>
                        <option value="BOA Balance Rewards">Bank o A Balance Rewards</option>
                        <option value="Citi Preferred">Citi Preferred</option>
                        <option value="Citi Simplicity">Citi Simplicity</option>
                        <option value="Citi Costco">Citi Costco</option>
                        <option value="Chase Freedom">Chase Freedom</option>
                        <option value="Chase Southwest">Chase Southwest</option>
                    </select>
                </div>
                <input type="number" class="form-control mb-3" step="0.01" name="balance" placeholder="Balance">
                <input type="number" class="form-control mb-3" step="0.01" name="interest" placeholder="Interest Rate">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>